<mat-card appearance="outlined"
    style="margin-top: 50px;text-align: center;margin-left: 20%;margin-right: 20%;background-color: #9fbcee;">
    <mat-card-content>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        Welcome To Home, Ishfaq Rahman
    </mat-card-content>
    <br>
    <mat-card-content>
        <img mat-card-image src="https://i.ibb.co/mFDWpR1/Agent-page-All-Elemets.png"  alt="Photo of a Shiba Inu">
    </mat-card-content>


</mat-card>